.root {
    display: flex;
    height: 20px;
}

.tab:first-child {
    margin-left: auto;
}

.tab:last-child {
    margin-right: auto;
}

.tab:not(:last-child) {
    margin-right: 10px;
}



