.tab {
    color: black;
    text-decoration: none;
    font-size: 18px;
}

.tab:not(:last-child) {
    margin-right: 10px;
}

.tab:hover {
    color: grey;
}

.tab.active {
    color: grey;
    cursor: default;
}

.restaurantName{
    padding: 10px;
    margin: 15px;
}